.nav-bar{
    height: 100vh;
    border-right: 1px solid black;
}





.nav-bar div {
gap: 30px 0;
    border-left: 1px solid gray;
   
    grid-template-columns: 5rem auto;
    align-items: center;
    
}

.nav-bar div .img-logo {
    width: 4rem;
}

